<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-8">
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :article_title, class:"form-control" %>
  </div>

  <div class="feild col-md-8">
    <%= form.label :cover_photo %><br>
    <%= form.file_field :cover_photo, class:"btn btn-default" %>
  </div>

  <div class="field col-md-8">
    <%= form.label :description %>
    <%= form.cktext_area :description, id: :article_description %>
  </div>

  <div class="actions col-md-8">
    <br><%= form.submit %>
  </div>
<% end %>
