<div class="content">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active one">
        <div class="carousel-caption">
          <h5>Patrice Lumumba wins TOF Golden Heart Award</h5>
          <p>Story By Kamau</p>
        </div>
      </div>
      <div class="carousel-item two">
      </div>
      <div class="carousel-item three">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <div class="container-fluid grids">
    <!-- The first grid -->
    <div class="blank-space"></div>

    <div class="row">
      <!-- Bro this is the writing between the black line and the grid -->
      <div class="centered-text col-sm-12">
        <h2 id="msee">
          <span>NEWS</span>
        </h2>
      </div>
      <!-- The start of the grid -->
      <% @news.each do |news| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <!-- content that is above the text on the grid -->
        <%= link_to news_path(news), id:"link" do %>
        <div class="home-image">
        <%= image_tag news.cover_photo(:large), class:"img-fluid", id:"image-main" %>
        </div><br>
        <h4><%= news.title %></h4>
        <% end %>
      </div>
      <% end %>
      <a href="/news" class="btn view-more">View More</a>
    </div>
    <br>
    <!-- The second grid -->
    <div class="blank-space"></div>

    <div class="row">
      <!-- Bro this is the writing between the black line and the grid -->
      <div class="centered-text col-md-12">
        <h2 id="msee">
          <span>PROJECTS</span>
        </h2>
      </div>
      <% @projects.each do |project| %>
      <!-- The start of the grid -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <!-- content that is above the text on the grid -->
        <%= link_to project_path(project), id:"link" do %>
        <div class="home-image">
            <%= image_tag project.cover_photo(:large), class:"img-fluid", id:"image-main" %>
        </div><br>
        <h4><%= project.title %></h4>
        <% end %>
      </div>
      <% end %>
      <a href="/projects" class="btn view-more">View More</a>
    </div>
    <br>
    <!-- The third and last grid -->
    <div class="blank-space"></div>

    <div class="row">
      <!-- Bro this is the writing between the black line and the grid -->
      <div class="centered-text col-md-12">
        <h2 id="msee">
          <span>ARTICLES</span>
        </h2>
      </div>
      <% @articles.each do |article| %>
      <!-- The start of the grid -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= link_to article_path(article), id:"link" do %>
        <div class="home-image">
            <%= image_tag article.cover_photo(:large), class:"img-fluid", id:"image-main" %>
        </div><br>
        <h4><%= article.title %></h4>
        <% end %>
      </div>
      <% end %>

      <a href="/articles" class="btn view-more">View More</a>
    </div>
    <!-- The end you can add footer after this -->
  </div>

</div>
