<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-8">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class:"form-control" %>
  </div>

<div class="feild col-md-8">
  <%= form.label :Project_Category%><br>
   <%= collection_select(:project, :project_category_id, ProjectCategory.all, :id, :name_with_state) %>
</div>

<div class="feild col-md-8">
  <%= form.label :cover_photo %>
  <%= form.file_field :cover_photo, class:"form-control" %>
</div>
  <div class="field col-md-8">
    <%= form.label :description %>
    <%= form.cktext_area :description, id: :project_description, class:"form-control" %>
  </div>

  <div class="actions col-md-8">
    <%= form.submit %>
  </div>
<% end %>
